
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;

}

body{
    background-color: whitesmoke;
}


.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    transition: 0.3s ease;
}


nav a,
li {
    margin: 0 3%;
    font-size: 130%;
}
.nav-link {
    width: 135px;
}
.login {
    width: 10%;
}

.login button {
    width: 100%;
    padding: 5% 0;
    background: whitesmoke;
    transition: 0.4s ease;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login button.scrolled {
    color: white;
    background: rgb(47, 171, 153);
}
section #im1 {
    width:450px;
    height: 550px;
     margin-top: 6vh;
} 

.flexbox {
    display: flex;
    justify-content: center;
    margin: 50px 0  50px 0;
}
form{ 
    border-radius: 30px; 
    width:450px;
    height: 170vh;
    margin-top: 7vh;
    border: 1px solid #ffffff;
    background-color: white;
    text-align: center;
    
}
h2{
    margin: 10px;
    text-align: center;  
    color: black;
    font-weight: 400;
    font-size:40px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}
p{
    font-size: 16px;
    text-align: right;
    padding: 10px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    color: #738196;

}
input[type=text] 
{
    width: 400px;
    height: 20px;
    border: 1px solid #a6b6a9;
    border-radius: 10px; 
    padding: 15px;  
     direction: rtl;

}

input[type=password] 
{
    width: 400px;
    height: 20px;
    border: 1px solid #a6b6a9;
    border-radius: 10px; 
    padding: 15px;
    direction: rtl;

}

#buttonQ{
    width: 400px;
    height: 50px;
    margin-top:10vh ;
    background-color: #4e3797;
    border: 1px solid #4e3797;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    transition: 0.4s;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-weight: 800;

} 
#buttonQ:hover{
    background-color: white;
    color: #4e3797;
    transition: 0.4s;
}

h4{
    text-align: right;
    margin: 10px;
    font-family: 'Almarai', sans-serif;
    font: weight 400px;;
    color: #738196;
    font-size: 15px;
}


#buttonQ a{
    text-decoration: none;
    color: #4e3797;
    font-size: 18px;
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    font-weight: 800;
}